<body style="background-color: #f5f5dc;box-sizing: content-box; background-repeat:none">
      <div class="container">
        <content align="middle" >
          <br>
          <br>
          <h2><u>Capture Your Precious Moments!!!</u></h2>
          <hr>
          <i>
            <br>
            <p>“Taking an image, freezing a moment, reveals how rich reality truly is.”</p>
            <p>“Photography is a way of feeling, of touching, of loving. What you have caught on film is captured forever… It remembers little things, long after you have forgotten everything.”</p>
            <br>
            <hr>
            <p>We have also made arrangement for a Professional Camera Man. It will be charged addtionally according to the package taken.</p>
            <hr>
            <p>Kindly contact us to make a booking for the same.</p>
            <br>
            <h3><a href="/contactus"><u>Book Now</u></a></h3>
            <br>
            <br>
            <br>
          </i>
        </content>
  </div>
</body>
