<body style="background-color: #f5f5dc;box-sizing: content-box; background-repeat:none">
      <div class="container">
        <content align="middle" >
          <div class="container">
            <img src='assets/social_gathering/i1.jpg'>
          </div>
          <br>
          <br>
          <h3>Social Gathering is a occasion, often in a place, at which people eat, drink, talk, dance and enjoy themselves.</h3>
          <br><hr>
          <i>
            <br>
            <h3>BOOK ASAP for your KITTY!!!</h3>
            <br>
            <h3><a href="/contactus"><u>Book Now</u></a></h3>
          </i>
          <br>
          <br>
          <br>
        </content>
  </div>
</body>
