<angular-image-slider [images]="items"></angular-image-slider>
<body style="background-color: #f5f5dc;box-sizing: content-box; background-repeat:none">
  <div class="container"  align="center">
    <content align="middle" >
      <br>
      <br>
      <h2><u>It's Your Marriage</u></h2>
      <i>
        <br>
        <hr>
        A birthday is always a time for celebration and, unlike other celebrations during the year, a birthday focuses on one special person. If there's a special person in your life, whether it's a parent, a spouse or a best friend, show them just how much they mean to you by hosting a party for their next birthday.
        <hr>
      </i>
      <br>
      <br>
      <h2>Let's Party!!!</h2>
      <br>
    </content>
    <br>
