<angular-image-slider [images]="items"></angular-image-slider>
<body style="background-color: #f5f5dc;box-sizing: content-box; background-repeat:none">
  <div class="container"  align="center">
    <content align="middle" >
      <br>
      <br>
      <h2><u>It's Your Birthday</u></h2>
      <i>
        <br>
        <hr>
        A birthday is always a time for celebration and, unlike other celebrations during the year, a birthday focuses on one special person. If there's a special person in your life, whether it's a parent, a spouse or a best friend, show them just how much they mean to you by hosting a party for their next birthday.
      </i>
      <br>
      <br>
      <h2>Let's Party!!!</h2>
      <br>
      <hr>
    </content>
    <br>
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>FIRST BIRTHDAY</mat-card-title>
              <mat-card-subtitle>CAKE</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/birthday/i13.jpg" alt="Birthday Cake" height="auto">
            <mat-card-content>
              <p>
                The Birthday was celebrated Party Hall for this Cute little Child :)
              </p>
            </mat-card-content>
          </mat-card>
      <br>
      <br>
      <hr>
</div>
