<body style="background-color: #f5f5dc;box-sizing: content-box; background-repeat:none">
      <div class="container">
        <content align="middle" >
          <br>
          <br>
          <h3><u>Venue Decoration!!</u></h3>
          <br>
          <hr>
          <i>
            <br>
            <p><b>"Decorations is for making people happy"</b></p>
            <br>
            <hr>
            <p>We will help you with the decoration of the venue according to the events with your customization.</p>
              <p>Decoration of venue will be charged according to the customization required, and it will be worth of it. :) </p>
            <br>
            <p>You can also arrange for your own decorators to decorate the venue</p>
            <br>
            <hr>
            <p>Kindly contact us for futher details :</p>
            <br>
            <h3><a href="/contactus"><u>Contact us</u></a></h3>
          </i>
          <br>
          <br>
          <br>
        </content>
  </div>
</body>
