<body style="background-color: #f5f5dc;box-sizing: content-box; background-repeat:none">
  <div class="container">
<br>
  <content align="middle">
    <div class="container">
      <img src='assets/images/about-us.jpg'>
    </div>
        <br>
    <h5>We are the leading wedding portal in the world but beyond that, we are a few romantics who help couples organise their wedding;</h5>
      <h5>A unique day to enjoy with family and friends that involves hours of preparation and work.</h5>
      <h5>We enjoy sharing experiences with a lot of brides and grooms, we get excited with their stories and help them with their wedding planning.</h5>
      <h5>We're able to do all this thanks to the collaboration of thousands of specialised companies with whom we grow.</h5>
  </content>
  <br>
</div>
</body>
