<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Home<span class="sr-only">(current)</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="/services" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/marriage">Marriage</a>
          <a class="dropdown-item" href="/birthday">Birthday</a>
          <a class="dropdown-item" href="/social">Social gatherings</a>
          <a class="dropdown-item" href="/personalevents">Personal events</a>
          <!-- <a class="dropdown-item" href="/festivals">Festivals</a> -->
          <a class="dropdown-item" href="/anniversary">Anniversaries</a>
          <!-- <a class="dropdown-item" href="/religious">Religious events</a> -->
          <a class="dropdown-item" href="/corporate">Corporate parties</a>
          <!-- <div class="dropdown-divider"></div> -->
          <!-- <a class="dropdown-item" href="/s_others">OTHERS</a> -->
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="/services" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Facilities
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/rooms">Rooms</a>
          <a class="dropdown-item" href="/catering">Catering</a>
          <a class="dropdown-item" href="/transport">Transportation</a>
          <a class="dropdown-item" href="/decorations">Decorations</a>
          <a class="dropdown-item" href="/parlour">Parlour</a>
          <a class="dropdown-item" href="/photography">Photography</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="f_others">OTHERS</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/photos">View Photos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/reviews">Reviews</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/aboutus">About us</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/contactus">Contact us</a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
       <div class="input-field col s6">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </div>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/signup">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/admin">Admin</a>
      </li>
    </ul>
    </form> -->
  </div>
</nav>
