<angular-image-slider [images]="items"></angular-image-slider>
    <body style="background-color: #f5f5dc;box-sizing: content-box; background-repeat:none">
      <div class="container">
        <content align="middle" >
          <br>
          <br>
          <h2>Wanna Have a Business Meet!!</h2>
          <br><hr>
          <i>
            <br>
            <p>We also arrange for Business Meeting and Parties. For more details contacts us.</p>
            <br>
            <h3><a href="/contactus"><u>Book Now</u></a></h3>
          </i>
          <br>
          <br>
          <br>
        </content>
  </div>
</body>
