<body style="background-color: #f5f5dc;box-sizing: content-box; background-repeat:none">
      <div class="container">
        <content align="middle" >
          <br>
          <br>
          <h3><u>Look Gorgeous!!</u></h3>
          <hr>
          <i>
            <br>
            <p>We also help you with the parlour services, if you are organising some events with our help.</p>
            <p>You will be charged according to the service you take.</p>
            <hr>
            <p>Kindly contact us for futher details :</p>
            <br>
            <h3><a href="/contactus"><u>Contact us</u></a></h3>
          </i>
          <br>
          <br>
          <br>
        </content>
  </div>
</body>
