<body style="background-color: #f5f5dc;box-sizing: content-box; background-repeat:none">
      <div class="container">
        <content align="middle" >
          <br>
          <br>
          <h2><u>Additional Facilities</u></h2>
          <hr>
          <i>
            <br>
            <p align="left">We also provide few additional functionalities : </p>
            <ul align="left">
              <li>Rent Utensils</li>
              <li>Rent Chairs/Table</li>
              <li>Arrange for cake for the events</li>
              <li>Arrange for Priest(Pandit)</li>
            </ul>
            <hr>
            <p align="left">Note: All the addtional Facilities are chargeable.</p>
            <hr>
            <p>Kindly contact us for futher details:</p>
            <br>
            <h3><a href="/contactus"><u>Book Now</u></a></h3>
            <br>
            <br>
            <br>
          </i>
        </content>
  </div>
</body>
