<body style="background-color: #f5f5dc;box-sizing: content-box; background-repeat:none">
  <div class="container"><br>
<img src="assets/images/contact-header.jpg">
<br>
<br>
  <content><h3>You can contact us through the following ways :</h3>
<br>
<div class="container">

<table>
    <tr align="left"><td><h5>Mobile number : </h5></td><td><h5>&nbsp;&nbsp;9333152294 / 9434123879 / 7004853366 </h5></td><tr>
    <tr align="left"><td><h5>Email Id : </h5></td><td><h5>&nbsp;&nbsp;fckhatri3@gmail.com</h5></td><tr>
      <tr align="left"><td><h5>Facebook Id : </h5></td><td><h5>&nbsp;&nbsp;<a href="https://www.facebook.com/pintu.khatri.5015"><u>Pintu Khatri</u></a></h5></td><tr>
    <tr align="left"><td><h5>Address : </h5></td><td><h5>&nbsp;&nbsp;KHATRI MARRIAGE HALL</h5></td><tr>
    <tr><td></td><td><h5>&nbsp;&nbsp;Masjid Road, Mihijam</h5></td><tr>
    <tr><td></td><td><h5>&nbsp;&nbsp;Jamtara, 815354</h5></td><tr>
  </table>
</div>
    <br>
    <br>
  </content>
  </div>
</body>
