<body style="background-color: #f5f5dc;box-sizing: content-box; background-repeat:none">
      <div class="container">
        <content align="middle" >
          <br>
          <hr>
          <br>
          <h3>We also help in organising Personal Events - Like religious events (Puja, Havans..)</h3>
          <br>
          <i>
            <hr>
            <br>
            <p>Click on below link to book and get futher details :</p>
            <br>
            <h3><a href="/contactus"><u>Book Now</u></a></h3>
          </i>
          <br>
          <br>
          <br>
        </content>
  </div>
</body>
