<body style="background-color: #f5f5dc;box-sizing: content-box; background-repeat:none">
      <div class="container">
        <content align="middle" >
          <br>
          <br>
          <h2><u>Transport Facility</u></h2>
          <hr>
          <i>
            <br>
            <p>We also provide with the transport facilities of CAR and BUS.</p>
            <p>The charges are based on your distance, duration and the route taken for travel</p>
            <hr>
            <p>Kindly contact us to make a booking for the same.</p>
            <br>
            <h3><a href="/contactus"><u>Book Now</u></a></h3>
            <br>
            <br>
            <br>
          </i>
        </content>
  </div>
</body>
