<angular-image-slider [images]="items"></angular-image-slider>
    <body style="background-color: #f5f5dc;box-sizing: content-box; background-repeat:none">
      <div class="container">
        <content align="middle" >
          <br>
          <br>
          <h2><u>It's Your Anniversary</u></h2>
          <br>
          <hr>
          <i>
            <br>
            <p>"An anniversary is a date which is remembered or celebrated because a special event happened on that date in a previous year."</p>
            <br>
            <p>"Not a long journey, your marriage is an adventure. Not a love story, your marriage is an epic tale of romance. Not a happy ending, your marriage is a blissful loop of sweet memories. Happy wedding anniversary. Sending you both loving wishes on your anniversary, may it be something so very special."</p>
            <br>
            <hr>
            <p>Celebrate with our help</p>
            <br>
            <h3><a href="/contactus"><u>Book Now</u></a></h3>
          </i>
          <br>
          <br>
          <br>
        </content>
  </div>
</body>
