<angular-image-slider [images]="items"></angular-image-slider>
<body style="background-color: #f5f5dc;box-sizing: content-box; background-repeat:none">
  <div class="container">
  <content align="middle" ><h2>INFORMATION ABOUT KHATRI MARRIAGE HALL AND CONVENTION</h2>  <strong><p><i>A good venue will serve as the best decision in making the whole ceremony more comfortable and enjoyable. And, when it comes to offering great spaces for wonderful occasions, Khatri Marriage Hall and Convention is a popular choice. Located in Mihijam this venue makes it possible to have a grand celebration of comfort, delightful ambiance and excellent services.</i></p>
    <h2>Facilities and capacity</h2>
     <i>Khatri Marriage Hall and Convention has a spacious hall with a capacity of 2000, with indoor and outdoor facilities, a large parking area, rooms with air conditioning, provision for catering, and kitchens for vegetarian and non-vegetarian menus. This venue is one of the most well recognised enterprise in the vicinity in terms of their deliverance and stride to provide maximum customer satisfaction.</i>
       <h2>Services offered</h2>
    <i>It has a team of craftsmen to adorn your venue with colourful decorations and lighting. It offers catering with vegetarian and non -vegetarian cuisines. It has well trained staff with event management experience to organise an impressive event and make your guests feel welcome. From a plethora of staff members to procuring a sound and music license for you, they will bare the responsibility of it all.</i>
    <h2>Cuisines</h2>
     <i>At this venue you can let your taste buds go on culinary flight of their own. Their empanelled caterers have served in the food and beverage industry for decades and counting. This gives them an edge as to what flavours to create and spurn which will leave your mouths watering for more. An array of domestically and internationally recognised cuisines are all on display at this venue. The menu is open for customisation based on your personal taste and that of your guests.</i>
     <h2>Other services</h2>
     <i>  Apart from just catering to weddings and related needs they also cater to other functions. Some of the other functions they have successfully hosted on their premises are:
       <ul align="left">
        <li>Birthday parties</li>
        <li>Anniversaries</li>
        <li>Social gatherings</li>
        <li>Personal events</li>
        <li>Festivals</li>
        <li>Religious events</li>
        <li>Corporate parties</li></ul></i></strong>
      <h2>MORE INFORMATION ABOUT KHATRI MARRIAGE HALL AND CONVENTION</h2>
     <ul align="left">
       <li>Do you have more than one event-space at your venue? Yes</li>
       <li>What kind of settings are available? All of the above</li>
       <li>Which of the following are the events that are best suited to your venue? Pre wedding functions: Engagement, Cocktail, Mehndi, Sangeet, etc., reception, wedding ceremonies</li>
       <li>What is the catering policy? In-house catering, external catering, external catering vendors allowed for speciality catering (Chaat,Pan etc)</li>
       <li>What all Indian cuisines do you offer in your catering packages? North Indian, south Indian, rajasthani, gujarati, paan, churan & fresh-fruit stalls, mughlai</li>
       <li>What are the customised & special menus you offer? other</li>
       <li>Which modes of payment do you accept? Cash, cheque, bank transfer (NEFT)</li>
       <li>What is the cancellation policy? Non refundable</li>
       <li>Do you have any time limit for celebration? Yes, 00:00</li></ul></content>
  <!-- Content here -->
</div>
</body>
