<body
  style="
    background-color: #f5f5dc;
    box-sizing: content-box;
    background-repeat: none;
  "
>
  <div class="container">
    <content align="middle">
      <br />
      <br />
      <h3><u>Rooms</u></h3>
      <br />
      <hr />
      <br />
      <i>
        <br />
        <p>We also have the arrangement of Rooms for your pleasant staying</p>
        <br />
        <hr />
        <br />
        <p>Find below details for room specifications :</p>
        <hr />
        <table align="center">
          <tr>
            <th>Room Type</th>
            <th>AC/Non-AC</th>
            <th>Price</th>
          </tr>
          <tr>
            <td>Single Bedroom</td>
            <td>AC</td>
            <td>Rs.750</td>
          </tr>
          <tr>
            <td>Single Bedroom</td>
            <td>Non-AC</td>
            <td>Rs.450</td>
          </tr>
          <tr>
            <td>Double Bedroom Small</td>
            <td>AC</td>
            <td>Rs.850</td>
          </tr>
          <tr>
            <td>Double Bedroom Small</td>
            <td>Non-AC</td>
            <td>Rs.550</td>
          </tr>
          <tr>
            <td>Double Bedroom Delux</td>
            <td>AC</td>
            <td>Rs.950</td>
          </tr>
          <tr>
            <td>Double Bedroom Delux</td>
            <td>Non-AC</td>
            <td>Rs.650</td>
          </tr>
          <tr>
            <td>Birthday Hall</td>
            <td>AC & Non AC</td>
            <td>From Rs.4000</td>
          </tr>
          <tr>
            <td>Marriage Hall</td>
            <td>AC & Non AC</td>
            <td>From Rs.4000</td>
          </tr>
          <tr>
            <td>Hall(Misc purpose)</td>
            <td>AC & Non AC</td>
            <td>From Rs.4000</td>
          </tr>
        </table>
        <br />
        <hr />
        <br />
        <h4>Other Facilities</h4>
        <ul align="left">
          <li>All Rooms have attach washrooms</li>
          <li>Intercom Facility</li>
          <li>Television</li>
          <li>Room Service</li>
          <li>Dormitory also available - AC: Rs.500, Non-AC: Rs.300</li>
        </ul>
        <br />
        <hr />
        <p align="left">Note : This price is exclusive of GST</p>
        <hr />
        <p>Kindly contact us for futher details :</p>
        <br />
        <h3>
          <a href="/contactus"><u>Contact us</u></a>
        </h3>
      </i>
      <br />
      <br />
      <br />
    </content>
  </div>
</body>
